:root {
    --color-primary: #4F46E5;
    --color-secondary: #06B6D4;
    --color-bg-main: #1E293B;
    --color-bg-light: #F8FAFC;
    --color-card-bg: #1E293B;
    --color-text-primary: #111827;
    --color-text-light: #E2E8F0;
    --color-border: #334155;
}

[data-theme="dark"] {
    --color-primary: #4F46E5;
    --color-secondary: #22D3EE;

    --color-bg-main: #dbdbdb;
    --color-bg-light: #1E293B;
    --color-card-bg: #dbdbdb;

    --color-text-primary: #F1F5F9;
    --color-text-light: #111827;

    --color-border: #F1F5F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-bg-main) !important;
    color: var(--color-text-light) !important;
    padding-top: 70px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-themeToggle {
    margin-top: 4px;
    padding: 6px 12px;
    border: 1px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
    border-radius: 6px;
    transition: 0.3s ease;
}

.btn-themeToggle:hover {
    background: var(--color-primary);
    color: white;
}

/* Dark mode button style */
html[data-theme="dark"] .btn-themeToggle {
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* Light mode button style */
html[data-theme="light"] .btn-themeToggle {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.navbar-brand {
    color: var(--color-primary) !important;
    font-size: xx-large !important;
    font-weight: 700;
    margin-left: 10px;
}

.navbar .nav-item {
    color: var(--color-text-primary);
    font-size: large;
    font-weight: 400;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.navbar .nav-item:hover {
    background: rgb(207, 207, 207);
    border-radius: 8px;
    padding: 1px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.profile {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
    border-radius: 10px;
}

.profile h1 {
    font-weight: 600;
    color: var(--color-primary);
}

.profile img {
    max-width: 180px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--color-border);
    transition: transform 0.3s ease;

}

.profile img:hover {
    transform: scale(1.05);
}

.about {
    margin: 15px;
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
    padding: 30px;
    border-radius: 10px;
}

.about h2 {
    font-weight: 600;
    color: var(--color-primary);
}

.about p {
    padding: 0 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.skills-section {
    margin: 15px;
    background: var(--color-bg-light);
    border-radius: 10px;
    padding: 30px;
}

.skills-section h2 {
    font-weight: 600;
}

.skill-items {
    background-color: var(--color-card-bg);
    color: var(--color-text-light);
    clip-path: inset(10px 0 10px 0 round 20px 0 20px 0);
    width: 100%;
    max-width: 400px;
    flex: 1 1 300px;
    min-height: 230px;
    border-radius: 8px;
    padding: 15px;
}

.skill-items h2 {
    font-weight: 600;
    margin-top: 5px;
}

.skill-items p {
    padding: 0 20px;
}

.projects {
    margin: 0 15px;
    background: var(--color-bg-light);
    border-radius: 10px;
    padding: 15px;
}

.projects h2 {
    font-weight: 600;
    margin-top: 10px;
}

/* .project-btn{
    background: var(--color-primary);
    color: var(--color-text-light);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
} */
.card-body {
    background-color: var(--color-card-bg);
    color: var(--color-text-light) !important;
    padding: 10px;
    border-radius: 10px;
}

.card-text {
    padding: 0 5px;
}

.certification h2 {
    font-weight: 600;
    color: var(--color-text-light);
}

.carousel {
    width: 95%;
    margin: 30px auto;
}

.carousel img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}


.contact {
    padding: 40px 20px;
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
    border-radius: 10px;
}

.contact h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-primary);
}

.contact form {
    max-width: 600px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contact label {
    font-size: 18px;
    font-weight: bold;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background-color: white;
    color: var(--color-text-primary);
}

.contact textarea {
    min-height: 120px;
    resize: none;
}

.contact button {
    padding: 14px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact button:hover {
    opacity: 0.9;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-primary);
}

.footer h2 {
    color: var(--color-primary);
    flex-direction: column;
    gap: 20px;
    font-size: xx-large !important;
    font-weight: 700;
}

footer {
    padding: 50px;
    background: var(--color-bg-light);
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer ul a {
    font-size: large;
    text-decoration: none;
    color: var(--color-text-primary);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);
}

.profile,
.about,
.skills-section,
.projects {
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.151);
    transition: background-color 0.3s ease;
}

/* animations */

html {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.profile,
.about,
.skills-section,
.projects,
footer {
    animation: fadeIn 1s ease-in-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile,
.about,
.skills-section,
.projects {
    animation: slideUp 0.8s ease-out;
}

.skill-items {
    transition: all 0.3s ease;
}

.skill-items:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    /* box-shadow: 0 0 20px rgba(79, 70, 229, 0.4); */
}

.btn-primary {
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
}

/* Tablet */
@media (min-width: 768px) {
    .profile {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }

    .text,
    .image {
        flex: 1;
    }

    .image {
        text-align: right;
    }

    .skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skill-items {
        flex: 0 0 48%;
        min-width: unset;
    }

    .projects {
        padding: 30px;
    }

    .carousel {
        width: 80%;
    }

    .contact-form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name email"
            "message message"
            "button button";
    }

    .name {
        grid-area: name;
    }

    .email {
        grid-area: email;
    }

    .message {
        grid-area: message;
    }

    .button {
        grid-area: button;
    }

    .contact button {
        width: 250px;
        margin: 0 auto;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

/* Laptop */
@media (min-width: 1024px) {
    .profile {
        padding: 50px 120px;
    }

    .profile h1 {
        font-size: 3rem;
    }

    .profile p {
        font-size: 1.1rem;
        line-height: 1.7;
    }

    .skill-items {
        flex: 0 0 23%;
    }

    .carousel {
        width: 60%;
    }

    .contact {
        max-width: 900px;
        margin: 60px auto;
        padding: 50px;
    }

    .contact-form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name email"
            "message button";
        align-items: center;
    }

    .contact textarea {
        min-height: 180px;
    }

    .contact button {
        height: 100%;
        width: 100%;
    }

    .projects {
        padding: 10px 60px;
    }
}